html,

body {
    color: red;
    font-size:xx-large
}

h1 {
    font-size: 20px; 
    color: seagreen;
}

h2 {
    font-size: 15px;
    color: black;
}

head {
   font-size: 800px; 
}

title {
    font-size: 400px;
}