/* Add url for fonts */

/* Base styles */

html,

body {
    color:black
}

.section {
    display: flex;
    height: 100vh;
}

.btn {
    background-color: green;
    color: #ffff;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 30px;
    margin: 20px 0;
}

.btn:hover {
transform: scale(0.99);
}


.logo {
position: absolute;
top: 30px;
left: 340px;
font-size: 2.5rem;
font-weight: 700;
z-index: 10;
}

.homw-img {
    bottom: 0;
    right: -800px;
    height: 300%;
}

.home-content {
    z-index: 10;
    max-width: 600px;
}

.navigation {
    position: absolute;
    top: 15px;
    right: 60px;
}


h1 {
    font-size: 30px; 
}

p {
    font-size: 15px;
}

h2 {
    font-size: 25px;
    font-weight: 100;
}

head {
   
}

